body {
	background-color: aquamarine;
}

.container {
	width: 86%;
	height: 25%;
	font-size: 30px;
	background: darkgrey;
	border: 2px solid black;
}

.player1 {
	padding-top: 10px;
}

#p1 {
	color: red;
	width: 2%;
	height: 2%;
	position: relative;
	left: 0px;
}

#p2 {
	color: orange;
	width: 2%;
	height: 2%;
	position: relative;
	left: 0px;
}