body {
	background-color: aquamarine;
}

.container {
	width: 95%;
	height: 25%
}

#p1 {
	font-size: 20px;
	width: 2%;
	height: 2%;
	position: relative;
	left: 0px;
}

#p2 {
	font-size: 20px;
	width: 2%;
	height: 2%;
	position: relative;
	left: 0px;
}